// ===COLORS===

// ===base===
$color-white: #fff;
$color-black: #000;
// ===/base===
$color-blue-100: #8cc9e8;
$color-blue-200: #16273e;
$color-pink: #ff6a9f;
// ===gray===
$color-gray-100: #f6f6f6;
$color-gray-200: #e5e5e5;
$color-gray-300: #6a767c;
$color-gray-400: #4b5558;
$color-gray-500: #323232;

// ===/gray===

// ===/COLORS===
