/* ---FONTS--- */
// ---size---
$fs-xs: 17px;
$fs-s: 22px;
$fs-m: 25px;
$fs-ml: 27px;
$fs-l: 95px;
$fs-xl: 109px;
// ---/size---

// ---weight---
$fw-light: 300;
$fw-regular: 400;
$fw-bold: 700;
$fw-extra-bold: 900;
// ---/weight---

/* /FONTS */
